* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    display: grid;
    height: 100vh;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header header header"
                         "left-side content right-side"
                         "footer footer footer";
}

.header {
    grid-area: header;
    text-align: center;
    padding-top: 2rem;
    text-transform: uppercase;
}

.left-side {
    grid-area: left-side;
    padding-top: 10rem;
    padding-left: 2rem;
}

.content {
    grid-area: content;
    text-align: center;
    padding-top: 2rem;
    padding-right: 4rem;
    padding-left: 4rem;
}

p {
    margin-bottom: 1rem;
}

.right-side {
    grid-area: right-side;
    padding-top: 10rem;
    padding-right: 0.5rem;
}

.footer {
    grid-area: footer;
    text-align: center;
    padding-bottom: 20rem;
    text-transform: uppercase;
    font-size: 2rem;
}