* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
    height: 100vh;
    padding: 1rem;
}

body > * {
    border: 3px solid black;
}

.left-side {
    
}

.content {
    
}

.right-side {
    
}

h1, footer {
    grid-column: 1 / 4;
    text-align: center;
    text-transform: uppercase;
    padding: 1rem;
}